################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PaparaFirstWeek/.vs/PaparaFirstWeek/FileContentIndex/0eba8125-05c2-4908-ad0c-6b3697b8de49.vsidx
